---
layout: default
title: Cwejman Resume
---

<script src="https://cdn.jsdelivr.net/gh/greentfrapp/pocoloco@minigl/minigl.js"></script>

<section id="top">
    <div class="content"></div>
</section>

<section>
    <div class="content">
        <div id="header">
            <canvas id="canvas"></canvas>
            <div id="text">
                <h1>Jona Cwejman</h1>
                <h3>Senior Software Developer</h3>
            </div>
            <script>
                var gradient = new Gradient();
                gradient.initGradient("#canvas");
            </script>
        </div>
    </div>
</section>

<section>
    <div class="content">
        <div id="intro">
            {{ site.data.resume.intro | markdownify }}
        </div>
    </div>
</section>

<section>
    <div class="content">
        <h2>Skills</h2>
    </div>
</section>

<section>
    <div class="table">
        {% for skill in site.data.resume.skills %}
        <div class="row">
            <h3 class="cell"><strong>{{ skill[0] }}</strong></h3>
            <div class="cell">{{ skill[1] | replace: '<gr>', '<span class="gray">' | replace: '</gr>', '</span>' }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section>
    <div class="content">
        <h2>Experiences</h2>
    </div>
</section>

<section>
    {% for experience in site.data.resume.experiences %}
    <div class="content">
        <div class="experience">
            <h3>{{ experience.title | replace: 'st>', 'strong>' }}</h3>

            {{ experience.intro | markdownify }}

            {% if experience.efforts %}
            <h4>Efforts:</h4>
            {{ experience.efforts | markdownify }}
            {% endif %}

            {% if experience.results %}
            <h4>Results:</h4>
            {{ experience.results | markdownify }}
            {% endif %}

            {% if experience.tools %}
            <div><h4 style="display: inline-block">Tools and Methodologies:</h4> {{ experience.tools }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>