@font-face {
    font-family: "dm-sans";
    src: url("../fonts/dm-sans-variable-normal.ttf");
    font-weight: 100 700;
    font-style: normal;
}

@font-face {
    font-family: "dm-sans";
    src: url("../fonts/dm-sans-variable-italic.ttf");
    font-weight: 100 700;
    font-style: italic;
}

body {
    font-family: 'dm-sans', sans-serif;
    max-width: 48rem;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.65;
    background-color: #fff;
    color: #131313;
}

#page {
    padding: 6rem 4rem;
    border: 1px solid hsl(0deg, 0%, 94%);
}

h1, h2, h4, strong {
    color: #3D2C0E;
}

h1 {
    font-size: 3rem;
}

h2 {
    display: inline-block;
    font-size: 2rem;
    margin: 5rem 0 2rem;
}

h3 {
    margin: 1rem 0;
    font-weight: 300;
    opacity: 0.7;
}

h3:has(strong) {
    opacity: 1 !important;
}

strong {
    font-weight: 600;
}

ul {
    padding-left: 1.6rem;
}

ul li {
    margin-bottom: 0.6rem;
}

ul li:last-child {
    margin-bottom: 0;
}

ul li ul {
    margin-top: 0.6rem;
    padding-left: 2rem;
    opacity: 0.7;
}

ul li ul li strong {
    color: #131313 !important;
}

img {
    width: 100%;
}

#header {
    width: 100%;
    display: flex;
    column-gap: 2rem;
    margin-bottom: 5rem;
    border-radius: 0.6rem;
}

#header #text * {
   margin: 0;
    line-height: 1.4
}

canvas#canvas {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #ffba27;
    --gradient-speed: 0.000004;
}

#intro div {
    border-left: 0.25rem solid #F4F4F4;
    padding: 0.25rem 0 0.25rem 1.6rem;
}

#intro div p:first-child {
    margin-top: 0;
}

#intro div p:last-child {
    margin-bottom: 0;
}


#experience-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

#experience-list div {
    margin-top: -1rem;
}

#skills-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

#skills-list div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

#skills-list h3 {
    width: 8rem;
    margin: 0;
}

#skills-list div p {
    min-width: 20rem;
    flex: 1;
    margin: 0
}

.gray {
    color: #8D8D8D;
}
