---
import type * as models from './scenes';

interface Props {
  model: keyof typeof models;
}
---

<motif-context data-model={Astro.props.model}>
    <div class="rounded-2xl border-[1px] border-low border-solid bg-high
      overflow-hidden aspect-square sm:aspect-video w-full relative [&>*]:absolute [&>*]:top-0">
        <div class="p-3 h-full w-full z-10">
            <slot />
        </div>
    </div>
</motif-context>

<script>
  import { getCustomDataSet } from '@utils/dom';
  import { createCanvas } from './createCanvas'
  import * as models from './scenes'

  getCustomDataSet('motif-context', ({ model }, element) => {
      const loadModel = model && models[model as keyof typeof models];

      if (loadModel) {
          createCanvas({
              container: element.querySelector('div')!,
              loadModel,
          });
      }
  });

</script>